@{
    ViewBag.Title = "About";
}
<h2>Application description</h2>
<h3>@ViewBag.Message</h3>

<p>The application show: </p>
<ul>
    <li>the best attacking team (which scored the most goals in its league)</li>
    <li>the best defensive team (which conceded the fewest goals in its league)</li>
    <li>the best team by scored-missed points (conceded to give priority to the team with the most goals scored)</li>
    <li>the most effective day in all leagues (the day when the maximum number of goals was scored in total in leagues 1,2,3)</li>
</ul>