@{
    ViewBag.Title = "Home Page";
}


<body>
    <div class="container-fluid text-center">
        <h2>
            @ViewBag.Message
        </h2>
        <div class="d-flex flex-column align-items-center" style="width: 75%; margin: auto">
            <div class="p-2 text-center" style="margin: 10px auto">
                <form method="get" action="/BestTeam/BestAttack">
                    <input class="btn btn-block text-black" type="submit" value="Show the best attacking team" style="min-width: 100%"/>
                </form>
            </div>
            <div class="p-2 text-center" style="margin: 10px auto">
                <form method="get" action="/BestTeam/BestDefense">
                    <input class="btn btn-block text-black" type="submit" value="Show the best defensive team" style="min-width: 100%"/>
                </form>
            </div>
            <div class="p-2 text-center" style="margin: 10px auto">
                <form method="get" action="/BestTeam/BestScoredMissed">
                    <input class="btn btn-block text-black" type="submit" value="Show the best team by scored-missed points" style="min-width: 100%"/>
                </form>
            </div>
            <div class="p-2 text-center" style="margin: 10px auto">
                <form method="get" action="/EffectiveDay/EffectiveDay">
                    <input class="btn btn-block text-black" type="submit" value="Show the most effective day" style="min-width: 100%"/>
                </form>
            </div>
            

        </div>
        
    </div>
</body>