@model FootballStatistics.Models.BestTeam
@{
    ViewBag.Title = "BestScoredMissed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>3. The best scored-missed team.</h1>

<h2>The best scored-missed team is in @Model.LegueName and it is - @Model.Name</h2>
<h3>With the difference in scored and missed goals - @Model.Points points</h3>

