@model FootballStatistics.Models.BestTeam
@{
    ViewBag.Title = "BestAttack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>1. The best attacking team.</h1>

<h2>The best attacking team is in @Model.LegueName and it is - @Model.Name</h2>
<h3>With scored @Model.Points points</h3>

