@model FootballStatistics.Models.EffectiveDay
@{
    ViewBag.Title = "EffectiveDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>4. The most effective day.</h1>
<h2>The most effective day is @Model.Date</h2>
<h3>With summary goals - @Model.Points</h3>

